    .myButton{
        color: rgb(255, 255, 255); 
        font-size: 15px; 
        line-height: 15px; 
        padding:5px; 
        position: relative;
        margin-left:10px; 
        margin-top: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
        border-radius: 3px; 
        font-family: Georgia, serif; 
        font-weight: normal; 
        font-style: normal; 
        font-variant: normal; 
        background-image: linear-gradient(to right, rgb(92, 102, 100) 0%, rgb(84, 92, 88) 50%, rgb(53, 130, 92) 100%); 
        box-shadow: rgb(18, 17, 17) 2px 2px 5px 2px; border: 2px solid rgb(0, 0, 0); 
        display: inline-block;}
        .myButton:hover {
        background:black; }
        .myButton:active {
        background: rgb(27, 25, 25);    
    }

    #fotodeperfil{
        background-color:black;
        width: 270px;
        height: 270px;
        position: absolute;
        top: 150px;
        right: 98px;
        margin: 10px 10px 10px 10px;
        padding: 5px 5px 5px 5px;
        border: 15px 15px 15px 15px;
    }

    h1{
        color: black;
        font-size: 45px;
        font-family: 'Source Serif Pro', serif;
        margin: 5px 5px 5px 5px;
        padding: 2px 2px 2px 2px;
        position: relative;
    }

    h2{
        font-size: 25px;
        font-family: 'Bitter', serif;
        margin: 10px 10px 10px 10px;
    }

    h3{
        font-size: 20px;
        font-family: 'Bitter', serif;
        position: relative;
        top: 25px;
        left: grid;

    }

    h4{
     font-size: medium;
     font-family: 'Bitter', serif;   
    }

    .al-costado{
        float: right;
        position: relative;
        text-align: left;
        margin: auto;
        font-size: small;
        font-family: 'Bitter', serif;
    }

    .piedepagina{
        float: left;
        position: relative;
        text-align: left;
        margin: auto;
        font-size: small;
        font-family: 'Bitter', serif;
    }

    ul{
        font-size: 20px;
        position: grid;
    } 
      /* The dropdown container */
      .dropdown {
        float: left;
        overflow: hidden;
      }
      
      /* Dropdown button */
      .dropdown .dropbtn {
        font-size: 16px;
        border: 3px;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit; /* Important for vertical align on mobile phones */
        margin: 0; /* Important for vertical align on mobile phones */
      }
      
      /* Dropdown content (hidden by default) */
      .dropdown-content {
        display: none;
        position: absolute;
        background-image: linear-gradient(to right, rgb(174, 187, 184) 0%, rgb(125, 126, 126) 50%, rgb(53, 130, 92) 100%); 
        box-shadow: rgb(18, 17, 17) 2px 2px 5px 2px; border: 2px solid rgb(0, 0, 0); 
        min-width: 160px;
        z-index: 1;
      }
      
      /* Links inside the dropdown */
      .dropdown-content a {
        float: none;
        color: rgb(3, 3, 3);
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
      }
      
      /* Add a grey background color to dropdown links on hover */
      .dropdown-content a:hover {
        background-color: #9fc2aa;
      }
      
      /* Show the dropdown menu on hover */
      .dropdown:hover .dropdown-content {
        display: block;
      }

      html{
        scroll-behavior: smooth;
      }

    body{
    background-color: #c9ced3;
    background-image: linear-gradient(to right, rgb(155, 164, 159) 0%, rgb(154, 162, 157) 50%, rgb(158, 192, 175) 100%);
   
}
